article {
    display: flex;
    gap : 2rem;
}

.article-left {
    display: flex;
    flex : 1;
}

.article-right {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    width: 50%;
}

.article-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.article-header p{
    max-width: 24rem;
}

.card-wrapper {
    display: flex;
    gap: 3rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width : 1058px) {
    article {
        flex-direction: column;
        gap : 6rem;
    }

    .article-left {
        width: 100%;
        align-items: center;
        justify-content: center;

        .article-header {
            align-items: center;
            justify-content: center;
            gap : 1rem;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .article-right {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}