.hero-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-header h1 {
    max-width: 32rem;
}

.hero-header p {
    max-width: 24rem;
}

@media (max-width : 1058px) {

    main {
        gap : 2rem;
    }

    .hero-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
        padding-block: 2em;
    }

    .hero-left {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .hero-header {
        align-items: center;
    }
}

@media (max-width : 634px) {
    .hero-right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-wrapper {
        gap : 2rem;
    }
}

@media (max-width : 430px) {
    .hero-right img {
        width: 90%;
        height: 90%;
    }
}