nav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 7em;
    padding-block: 5em;
}

.list-items {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    list-style: none;
}

.list-item a{
    text-decoration: none;
    color : var(--darkBlue);
}

.list-item a:active{
    color: var(--darkGrayishBlue);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}