* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

:root {
  --brightRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);
  --darkGrayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed: hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
}

.primary-button {
  background-color: var(--brightRed);
  color: var(--veryLightGray);
  border: none;
  border-radius: 2em;
  padding: 1.25em 2.75em;
  font-weight: 500;
  cursor: pointer;
  max-width: 10rem;
}

.secondary-button {
  background-color: var(--veryLightGray);
  color: white;
  background: var(--brightRed);
  border : none;
  border-radius: 2rem;
  padding: .75rem 1.75rem;
  font-weight: 700;
  cursor: pointer;
  max-width: 10rem;
  font-size: 1.2rem;
}

.primary-button:active {
  opacity: 0.8;
}

p {
  color: var(--darkGrayishBlue);
  line-height: 1.5;
  font-size: 1.1rem;
}

h1 {
  color: var(--darkBlue);
  font-size: 5vmin;
  font-weight: 700;
}

h2 {
  color: var(--darkBlue);
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  color: var(--darkBlue);
  font-size: 1.2rem;
  font-weight: 700;
}

@media (max-width : 1058px) {
  h2 {
    font-size: 2rem;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}